#MyGmaps{
	float: left;
	background: rgba(228,191,135,0.5);
	margin-top: 10px;
}

#contactusContent{
	background: rgba(228,191,135,0.5);
	border: 5px solid rgba(234,188,118,1);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 5px;
	height: 380px;
	margin-left: 610px;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: justify;
	border-radius: 10px;
}