@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
html {
	max-width: 70%;
  	min-width: 960px;
  	margin: 0 auto;
  	background: #eee; /* Fills the page */
  	position: relative; /* Fix for absolute positioning */
}

.signupParent{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
  	text-transform: uppercase;
  	font-size: 12px;
	background-color: #E3E6FF;
	position: relative;
	width: 100%;
}
/*welcome, register, subscribe email and login position*/
#welcome{
	display: inline-block;
	position: absolute;
	right: 10px;
	top: -10px;
}
#subscribeEmail{
	display: inline-block;
}
/*shawdow box*/
#subscribeEmail:hover{
	-moz-box-shadow: 0 0 10px #FF8D8D;
	-webkit-box-shadow: 0 0 10px #FF8D8D;
	box-shadow: 0 0 10px #FF8D8D; 
}
/*login image position*/
#loginImage, #signinImage, #registImage, #registerImage{
	position: relative;
	height: 15px;
	width: 15px;
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*login image hover effect*/
#loginImage:hover, #signinImage:hover, #registImage:hover, #registerImage:hover{
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*search text*/
#logoImage{
	height: 100px;
	display: inline-block;
}
#findPromo{
	display: inline-block;
	position: absolute;
	right: 0;
	top: 6.5em;
}
#findPromo input[type="text"] {
	background: url(/image/find.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#findPromo input[type="text"]:focus {
  background: url(image/find.png) no-repeat 10px 6px #444;
  color: #FFFFFF;
  width: 200px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/*navigation bar style*/
#cssmenu {
  background: #e7e7e7;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #000000; /*color of the title*/
  text-decoration: none;
  display: block;
  padding: 15px 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*change word color*/
#cssmenu ul li a:hover{
  color: #ff0000; /*color of the title*/
  font-size: 150%;
}


#homeImage{
  height: 0px;
  position: absolute;
}
#cssmenu ul li a:hover #homeImage{
  height: 55px;
  left: -10px;
  top: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#restoImage{
  height: 0px;
  position: absolute;
}
#cssmenu ul li a:hover #restoImage{
  height: 40px;
  left: 0;
  top: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#promotionImage{
  height: 0px;
  position: absolute;
}
#cssmenu ul li a:hover #promotionImage{
  height: 40px;
  left: 5px;
  top: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#eventImage{
  height: 0px;
  position: absolute;
}
#cssmenu ul li a:hover #eventImage{
  height: 40px;
  left: 0px;
  top: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#aboutImage{
  height: 0px;
  position: absolute;
}
#cssmenu ul li a:hover #aboutImage{
  height: 35px;
  left: 3px;
  top: 7px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}



/*underline long*/
#cssmenu ul li a:hover:before {
  width: 100%;
}
/*dot color*/
#cssmenu ul li a:after {
  content: '';
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #000000;
  opacity: .5;
}
/*underline color*/
#cssmenu ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #ff0000;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
/*color of word of the current page*/
#cssmenu ul li.active a {
  color: #C50000;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}


/*.navbar {
    background-color: #DCDCDC;
    font-size: 1.5em;
}

.navbar li{
	display: inline;
	padding: 3%;
}

.navbar a{
	text-decoration: none;
	color: #00F;
	padding: 1%;
}

.navbar a:hover{
	color: yellow;
	background-color: blue;
}*/

/*banner*/
.banner{
}

/*title of banner*/
#banner1, #banner2, #banner3, #banner4, #banner5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
  	text-transform: uppercase;
  	font-size: 180%;
	position: relative;
	top: -30px;
}
#banner1{
	background-color: #FFD2D2;
}
#banner2{
	background-color: #D7FFD2;
}
#banner3{
	background-color: #FEFF92;
}
#banner4{
	background-color: #FFD2FE;
}
#banner5{
	background-color: #D5D2FF;
}

/*footer*/
hr{
	border: 0;
    height: 5px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/*Social Media Link*/
#socmed{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
  	font-size: 180%;
  	text-align: center;
}
#fb, #twitter, #youtube{
	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#fb:hover, #twitter:hover, #youtube:hover{
	height: 100px;
}

/*Footer link*/
#footerLink{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
  	text-transform: uppercase;
  	font-size: 130%;
  	text-decoration: none;
}
#footerLink{
	text-align: center;
}
#footerLink li{
	display: inline-block;
  	padding: 0 4% 0 4%;
 	margin: 0;
 	text-decoration: none;
}
#footerLink a{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	text-decoration: none;
	color: inherit;
}
#footerLink a:hover{
	text-decoration: underline;
	font-size: 1.4em;
}
#paymentLogo{
	text-align: center;
	position: relative;
	top: -10px;
}
#copyright{
	position: relative;
	top: -10px;
	font-size: 80%;
}